DATABASE_URL=
SESSION_ID=
REMOVEBG_KEY=
PREFIX=.
MODE=public
STATUSVIEW=true
ANTI_LINK=true
REJECTSCALLS=false
REPLY_STATUS=true
antidelete=true
BOT_NAME=LEGEND-MD
AutoReaction=false
OWNER_NUMBER=923337862496;FAHEEM
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by LEGEND-MD
